[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"
pylint = "*"
locust = "*"
jupyterlab = "*"
pandas = "*"

[packages]
fastapi = "*"
requests = "*"
spacy = "*"
uvicorn = "*"
celery = "*"
neo4j = "*"
tenacity = "*"

[requires]
python_version = "3.8"
